{% extends "angar/template.html" %}

{% block main %}
	<div class="VK"></div>
	<script type="text/javascript">
	VK.Widgets.Group("VK", {mode: 3, width: 350, height: 500, color1: "FFFFFF", color2: "000000", color3: "5181B8"}, 222132289);
	</script>
	<iframe class="discord" src="https://discord.com/widget?id=1235092855157030943&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
	<main>
		<img src="static/images/angar/logo_text.webp" class="LOGO">
		<div class="SELECT">Выберите интересующий Вас пункт.</div>
		<div class="LIST">
			<div class="A">
				<ul class="LIST_LEFT">
					<li><a href="/infinitypvp">InfinityPVP.html</a></li>
					<li><a href="https://github.com/WE-ARE-FINE-STUDIO/carry">CARRY Engine.html</a></li>
				</ul>
			</div>
			<div class="B">
				<ul class="LIST_RIGHT">
				</ul>
			</div>
		</div>
		<div class="SUBTITLE">Твоя жизнь совсем не скучна. Дело лишь в том, какой ты её видишь, и как к ней относишься.</div>
		<a href="/oferta" class="SUBTITLE">Публичная оферта</a>
	</main>
{% endblock %}