{% extends "infpvp/template.html" %}

{% block main %}
	<main>
		<div class="INFO">
			<img src="static/images/infpvp/logo.png">
			<img src="static/images/infpvp/season.png">
		</div>
		<marquee scrolldelay="2" scrollamount="10" class="DISCOUNT">-50% на ВСЁ! Великое Возрождение! СЕЗОН 1. -50% ALL! The Great Revival! SEASON 1. Пора за сладкими БУСТАМИ! Прокачай свой аккаунт всего за ПАРУ ЧАСОВ! IP: misericordiam.ru (1.18.2)</marquee>
		
		
		<div class="container" style="bottom:40%; left:20%">
			<div class="card">
				<div class="imgBx">
					<img src="static/images/infpvp/1.png">
				</div>
				<div class="contentBx">
					<h2>clan kill boost</h2>
					<div class="size">
					<h3>увеличения: x2, x3, x5</h3>
					</div>
					<div class="size">
					<h3>время: 1ч., 12ч., 1д., 2д., 3д.</h3>
					</div>
					<a href="">Купить</a>
				</div>
			</div>
		</div>
		<div class="container" style="bottom:40%; align-items: center;">
			<div class="card">
				<div class="imgBx">
					<img src="static/images/infpvp/2.png">
				</div>
				<div class="contentBx">
					<h2>elite cases</h2>
					<div class="size">
					<h3>разновидности: штурмовик, снайпер, джаггернаут</h3>
					</div>
					<div class="size">
					<h3></h3>
					</div>
					<a href="">Купить</a>
				</div>
			</div>
		</div>
		<div class="container" style="bottom:40%; right:20%;">
			<div class="card">
				<div class="imgBx">
					<img src="static/images/infpvp/3.png">
				</div>
				<div class="contentBx">
					<h2>money kill boost</h2>
					<div class="size">
					<h3>увеличения: x2, x3, x5</h3>
					</div>
					<div class="size">
					<h3>время: 1ч., 12ч., 1д., 2д., 3д.</h3>
					</div>
					<a href="">Купить</a>
				</div>
			</div>
		</div>


		<a class="LOGO" href="/">
			<img src="static/images/infpvp/logo_text.webp">
		</a>
	</main>
{% endblock %}